.user-image {
  height: 40vmin;
  border: white 3px solid;
  border-radius: 50%;

  &.left {
    position: absolute;
    left: 60px;
    top: 50px;
    transition: all 2s ease;
    cursor: pointer;
  }
}
