.user-image {
  height: 40vmin;
  border: white 3px solid;
  border-radius: 50%;
  transition: all 1s ease;

  &.left {
    position: absolute;
    left: 60px;
    top: 50px;
    cursor: pointer;

    &:hover {
      height: 42vmin;
      left: 55px;
      border-color: lightskyblue;
    }
  }
}
