.main-container {
  min-width: 300px;
  max-width: 420px;
  background-color: white;
  max-height: 80vh;
  border: black 3px solid;
  border-radius: 5px;
  box-shadow: 0 3px 10px white;
  color: #282c34;
  padding: 10px;
  overflow-y: scroll;

  .container-title {
    text-decoration: underline;
  }

  .container-content-my-title {
    justify-content: flex-start;
    margin: 0;
  }

  .container-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container-content-title {
      justify-content: flex-start;
      margin: 0 0 0 10px;
    }

    .container-content-dates {
      justify-content: flex-end;
      margin: 0 10px 0 0;
    }
  }

  .container-content-list {
    text-align: start;
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: bold;
  }
}
