.button-list {
  display: flex;

  &.horizontal {
    flex-direction: row;
  }

  &.vertical {
    flex-direction: column;
    position: absolute;
    align-items: center;
    left: 70px;
    bottom: 250px;
  }

  .button-item {
    display: flex;
    background: none;
    border: none;
    margin: 0 10px;
    padding: 0;
    color: white;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    text-decoration: underline;
    transition: font-size 1s ease;

    &:hover {
      color: lightskyblue;
    }
  }
}
