.button-list {
  display: flex;

  &.horizontal {
    flex-direction: row;
  }

  &.vertical {
    flex-direction: column;
  }

  .button-item {
    display: flex;
    background: none;
    border: none;
    margin: 0 10px;
    padding: 0;
    color: white;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: lightskyblue;
    }
  }
}
